@font-face {
    font-family: heading;
    src: url(Fonts/heading-font.ttf);
}

@font-face {
    font-family: para;
    src: url(Fonts/paragraph-font.ttf);
    color: #fff;
}

nav ul li a {
    font-family: para;
    color: #fff;
    font-size: 21px;
}

nav ul li a:hover {
    color: rgb(200, 200, 200);
}

.description {
    font-family: sans-serif;
    font-size: 74px;
    font-weight: 800;
    color: #e4e4e4;
}

span.anti {
    color: transparent;
    background-image: url(Images/webkit.PNG);
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
}

.footer {
    font-family: Arial;
    color: #bfbfbf;
    font-size: 15px;
}

.footer-m {
    color: #f80454;
}