   <!-- footer -->
   <footer
   class="w-full flex items-center justify-center p-4 mt-10 border-t border-gray-300"
 >
   <p class="text-gray-500 md:text-sm">
     &copy; 2025 Alpha Cafe. All rights reserved.
   </p>
 </footer>

 <script src="/app.js"></script>
</body>
</html>