<footer
  class="w-[830px] absolute bottom-3 left-[50%] translate-x-[-50%] h-20 flex items-end justify-center opacity-0"
>
  <div
    class="w-full bg-[#0a101a] border-slate-800 rounded-xl py-4 flex border items-center justify-center gap-3"
  >
    <form
      action=""
      method="post"
      class="p-4 w-[90%] bg-[#0e1522] relative border border-slate-700 rounded-lg text-white"
    >
      <input
        type="text"
        name="input"
        id="input"
        placeholder="How can I help you today?"
        class="text-[17px] text-white outline-0 w-[92%]"
      />
      <button
        class="bg-green-800 hover:bg-green-900 active:bg-green-950 cursor-pointer p-1.5 rounded-md absolute top-[50%] right-0 translate-[-50%]"
      >
        <img src="/images/svg/send.svg" class="text-2xl" alt="send" />
      </button>
    </form>
    <button
      class="hover:bg-gray-800 active:bg-gray-900 cursor-pointer rounded-full p-2"
    >
      <img
        src="/images/svg/mic-off.svg"
        class=""
        style="color: green"
        alt="send"
      />
    </button>
  </div>
</footer>
