<header class="w-full h-20 flex items-end justify-center opacity-0">
  <div
    class="w-[98%] h-[calc(100%-5px)] bg-[#0a101a] border-slate-800 rounded-xl px-6 py-2 flex border items-center justify-between"
  >
    <!-- left -->
    <div class="flex items-center justify-center gap-2.5">
      <img
        src="/images/png/icon.png"
        class="tint-cyan drop-shadow w-15"
        alt=""
      />
      <h1 class="text-cyan-700 text-3xl f-share-tech">JARVIS</h1>
    </div>
    <!-- right -->
    <div class="flex items-center justify-center gap-2.5">
      <h1 class="text-cyan-700 text-xl f-share-tech">Online</h1>
      <span class="rounded-full p-1 online-dot"></span>
    </div>
  </div>
</header>
