<div class="">
  <div
    id="b-1"
    class="absolute aspect-square w-[40vw] items-center rounded-full justify-center border-2 hidden left-[50%] top-[50%] transition-all duration-1000 translate-x-[-50%] translate-y-[-50%]"
  >
    <div class="w-full">
      <svg id="svg-1" viewBox="0 0 200 200">
        <circle
          class="circle"
          cx="100"
          cy="100"
          r="98"
          fill="none"
          stroke-width="5"
        />
        <circle
          class="c1o"
          cx="100"
          cy="100"
          r="90"
          fill="none"
          stroke-dasharray="1 1"
        />
        <circle
          class="circle"
          cx="100"
          cy="100"
          r="80"
          fill="none"
          stroke-width="5"
          stroke-dasharray="0 250 0 250"
        />
        <circle
          class="c-3"
          cx="100"
          cy="100"
          r="70"
          fill="none"
          stroke-width="3"
        />
        <circle
          class="circle"
          cx="100"
          cy="100"
          r="60"
          fill="none"
          stroke-width="8"
          stroke-dasharray="0 13"
          stroke-opacity="0.7"
        />
        <circle
          class="circle"
          cx="100"
          cy="100"
          r="45"
          fill="none"
          stroke-width="2"
          stroke-dasharray="0 10.87"
          stroke-linecap="round"
        />
        <!-- Core Center -->
        <defs>
          <radialGradient id="coreGradient" cx="50%" cy="50%" r="50%">
            <stop offset="0%" style="stop-color: #ffffff; stop-opacity: 1" />
            <stop offset="50%" style="stop-color: #22d3ee; stop-opacity: 0.9" />
            <stop
              offset="100%"
              style="stop-color: #0891b2; stop-opacity: 0.5"
            />
          </radialGradient>
        </defs>

        <circle
          class="gloww"
          cx="100"
          cy="100"
          r="20"
          class="glow"
          fill="url(#coreGradient)"
          fill-opacity="0.9"
        />
      </svg>
    </div>
  </div>
</div>
