<aside class="w-64 flex flex-col items-start gap-3 py-3 text-white h-full">
  <!-- system Info -->
  <div
    id="right1"
    class="rounded-xl bg-[#0a101a] border border-slate-800 w-[95%] p-4 flex flex-col opacity-0 items-center"
  >
    <h1 class="text-xl font-semibold w-full">System Info.</h1>
    <!-- CPU -->
    <div class="w-full mt-4 flex flex-col items-center justify-between">
      <div class="w-full flex items-center justify-between">
        <p class="font-semibold">CPU</p>
        <p>30%</p>
      </div>
      <div class="w-full h-1.5 mt-1.5 bg-gray-800 rounded-full overflow-hidden">
        <div class="w-[30%] bg-blue-500 rounded-full h-full"></div>
      </div>
    </div>
    <!-- RAM -->
    <div class="w-full mt-4 flex flex-col items-center justify-between">
      <div class="w-full flex items-center justify-between">
        <p class="font-semibold">RAM</p>
        <p>70%</p>
      </div>
      <div class="w-full h-1.5 mt-1.5 bg-gray-800 rounded-full overflow-hidden">
        <div class="w-[70%] bg-red-500 rounded-full h-full"></div>
      </div>
    </div>
    <!-- NETWORK -->
    <div class="w-full mt-4 flex flex-col items-center justify-between">
      <div class="w-full flex items-center justify-between">
        <p class="font-semibold">Internet</p>
        <p>7 mbps</p>
      </div>
      <div class="w-full h-1.5 mt-1.5 bg-gray-800 rounded-full overflow-hidden">
        <div class="w-[70%] bg-green-500 rounded-full h-full"></div>
      </div>
    </div>
    <!-- Battery -->
    <div class="w-full mt-4 flex flex-col items-center justify-between">
      <div class="w-full flex items-center justify-between">
        <p class="font-semibold">Battery</p>
        <p>68%</p>
      </div>
      <div class="w-full h-1.5 mt-1.5 bg-gray-800 rounded-full overflow-hidden">
        <div class="w-[68%] bg-green-500 rounded-full h-full"></div>
      </div>
    </div>
  </div>
  <!-- weather -->
  <div
    id="right2"
    class="rounded-xl bg-[#0a101a] border border-slate-800 w-[95%] p-4 flex opacity-0 flex-col items-start"
  >
    <h1 class="text-xl font-semibold w-full">Weather</h1>
    <div
      class="p-3 bg-[#0e1522] border border-slate-700 mt-2 w-full rounded-lg"
    >
      <p id="weather-date" class="text-gray-400 text-lg">17 June 2025</p>
      <div class="flex items-center mt-2 justify-start gap-2 w-full">
        <span class="aspect-square w-[50px]">
          <img id="weather-icon" alt="anim" />
        </span>
        <div>
          <p id="weather-text" class="text-[16px]"></p>
          <p id="weather-temp" class="text-gray-400"></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Random fact -->
  <div
    id="right3"
    class="rounded-xl bg-[#0a101a] border relative border-slate-800 w-[95%] p-4 opacity-0 flex flex-col items-start"
  >
    <p id="tip_sec" class="text-sm absolute top-4 right-4"></p>
    <div class="w-fit flex items-center">
      <h1 id="tip-head" class="text-xl font-semibold pr-2"></h1>
    </div>
    <div
      class="p-3 bg-[#0e1522] border border-slate-700 mt-2 overflow-hidden w-full rounded-lg"
    >
      <div class="w-fit flex items-center">
        <p
          id="tip-content"
          class="text-[16px] relative whitespace-pre-wrap"
        ></p>
      </div>
    </div>
  </div>
</aside>
