<div
  id="subtitle-parent"
  class="w-[800px] subtitle-box flex items-center justify-center absolute left-[50%] bottom-[18%] translate-x-[-50%]"
>
  <p
    id="subtitle"
    class="text-cyan-500 tracking-tight text-center text-xl f-share-tech"
  ></p>
</div>
