.f-share-tech {
  font-family: share-tech;
}

.tint-cyan {
  filter: brightness(0) saturate(100%) invert(55%) sepia(95%) saturate(748%)
    hue-rotate(160deg) brightness(100%) contrast(100%);
  animation: logo-glow 3s linear infinite;
}

@keyframes logo-glow {
  50% {
    filter: brightness(0) saturate(100%) invert(55%) sepia(95%) saturate(748%)
      hue-rotate(160deg) brightness(100%) contrast(100%)
      drop-shadow(0px 0px 6px rgb(9, 214, 214));
  }
}

.online-dot {
  animation: dot-glow 2s linear infinite;
  background-color: #22c55e;
}

@keyframes dot-glow {
  50% {
    background-color: #0d4d24;
  }
}
