* {
  /* font-family: "roboto-regular"; */
  font-family: roboto-regular-light;
}

:root {
  --primary-color: #6ab4dd;
  --glow: #44e0f5;
}
#c-1,
#c-1o,
#c-2,
#c-3,
#c-5 {
  stroke: var(--primary-color);
}

#b-1 {
  border-color: var(--primary-color);
}
